'context-menu':
  'atom-workspace': [{
    label: 'Optimize css',
    command: 'csso:execute'
  }, {
    label: 'Optimize and restructure css',
    command: 'csso:restructure'
  }]

'menu': [{
  label: 'Packages'
  submenu: [
    label: 'CSSO'
    submenu: [{
      label: 'Optimize css',
      command: 'csso:execute'
    }, {
      label: 'Optimize and restructure css',
      command: 'csso:restructure'
    }]
  ]
}]