'context-menu':
  'atom-text-editor': [{
    label: 'Minify CSS',
    command: 'csso:minify'
  }, {
    label: 'Minify CSS with restructuring',
    command: 'csso:restructure'
  }]

'menu': [{
  label: 'Packages'
  submenu: [
    label: 'CSSO'
    submenu: [{
      label: 'Minify CSS',
      command: 'csso:minify'
    }, {
      label: 'Minify CSS with restructuring',
      command: 'csso:restructure'
    }]
  ]
}]
