'atom-workspace':
  'ctrl-shift-o': 'csso:minify'

'.platform-darwin atom-workspace':
  'ctrl-option-o': 'csso:restructure'

'.platform-win32 atom-workspace, .platform-win32 atom-workspace':
  'ctrl-option-o': 'csso:restructure'
